header{
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    background-color: silver;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.222);
}

li{
    display: inline;    
}

li:hover{
    color: orange;
}

ul{
    padding-top: 20px;
    padding-left: 650px;
    font-size:medium;
}

.logotop{
    height: 20px;
    width: 20px;
}

/* bodysection starts here !! */


section{
    height: 1000px;
    width: 100%;
    padding-left: 200px;
  
}

.centercontent{
    height: 350px;
    width: 100%;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    
}

.mindout{
    display: flex;
    justify-content: start;
    padding-left: 50px
}

.mindimage{
    justify-content: center;
    align-items: center;
    text-align: center;
}


.mindimage:hover{
    color: grey;
}


.offerimage{
    display: flex;
    height: 250px;
}

.innerclassoffer{
    margin: 10px;
    border-radius: 15px;
}


.foodimage{
    height: 100px;
    width: 100px;
    margin: 25px

}

.topout{
    display: flex;
}

.tophotels{
    border-radius: 15px;
    margin: 5px;
}

.hotelin{
    border-radius: 15px;
    height: 180px;
    width: 300px;
}




/* bodysection ends here !! */



/* footersection starts here */


footer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}


.footerd{
    height: 400px;
    color: white;
    justify-content: center;
    margin: 28px;
}

.grey{
    color: grey;
}





/* footersection ends here */



/* font section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0px;
}

/* Search bar */
/* Style for the search container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}

/* Style for the search input */
.search-bar {
    width: 200px;
    padding: 8px;
    border: 2px solid orange;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: orange;
}

/* Style for the search button */
.search-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the search button */
.search-button:hover {
    background-color: white;
    color: orange;
}
